In [1]:
from __future__ import print_function

import os.path
import sys
import time

import numpy as np
import pandas as pd
import pandana.network as pdna

In [2]:
edges = pd.read_csv('projects/tokyo_residential_above/network_inputs/edges_residual_demand.csv')
nodes = pd.read_csv('projects/tokyo_residential_above/network_inputs/nodes_residual_demand.csv')
display(edges.head(2))
display(nodes.head(2))

od = pd.read_csv('projects/tokyo_residential_above/demand_inputs/od_residual_demand_0.csv')
display(od.head(2))

,edge_id_igraph,start_igraph,end_igraph,edge_osmid,start_osm,end_osm,length,lanes,maxmph,oneway,type,capacity,crossings_stops,traffic_signals,geometry,start_sp,end_sp,traffic_signals_delay,crossings_stops_delay,fft
0,0,622771,255192,4847506,31236733,621545900,680.577196,2,62.137274,yes,motorway,5400,0,0,"LINESTRING (139.7578 35.6437952,139.7578196 35...",622772,255193,0,0.0,29.400911
1,1,643227,643226,4847507,31300417,31300416,83.662617,2,37.282364,yes,motorway,4600,0,0,"LINESTRING (139.8013447 35.6402988,139.8005495...",643228,643227,0,0.0,6.023703

   node_id_igraph  node_osmid         lon        lat signal
0               0  4599666550  139.529430  35.777736    NaN
1               1  4395630603  139.711021  36.286796    NaN

   agent_id  node_id_igraph_O  node_id_igraph_D  hour
0         0            249916            131594    10
1         1            661402            525963    11

In [6]:
nodes_index = nodes.set_index('node_id_igraph')
net = pdna.Network(nodes_index["lon"], nodes_index["lat"], edges["start_igraph"], edges["end_igraph"], edges[["fft"]])

In [7]:
net.set(pd.Series(net.node_ids))
# s = net.aggregate(1, type='count')
# print(s.sort_values(ascending=False).head())

In [24]:
nodes_a = od.iloc[0:1000]['node_id_igraph_O'].values
nodes_b = od.iloc[0:1000]['node_id_igraph_D'].values
print(nodes_a[0:2], nodes_b[0:2])

[249916 661402] [131594 525963]

In [13]:
print(net.shortest_paths(nodes_a[0:2],nodes_b[0:2]))

[array([249916, 249961, 492632, 492757, 492770, 131668, 492635, 492668,
       131615, 131607, 493043, 131605, 131611, 530740, 131602, 131593,
       131594]), array([661402, 661388, 495402, 495414, 495371, 495393, 495413,  97564,
       495424, 495381, 495439, 212224, 212122, 212118, 212204, 402974,
       402961, 212135, 214535, 402918, 214668, 214568, 214553, 402921,
       402977, 403000, 402931, 402922, 403005, 403015,  42648, 402954,
       402967, 402917, 402998, 402929, 212212, 212249, 402935, 212143,
       402950, 403035, 115395, 676766, 402022, 401937, 401955, 402006,
       174173, 173069, 401987, 525950, 525916, 240129, 495374, 525931,
       525935, 525927, 525963])]

In [19]:
t0 = time.time()
path = net.shortest_paths(nodes_a, nodes_b)
print('Route vectorized time = {} sec'.format(time.time() - t0))

Route vectorized time = 0.05193161964416504 sec